---
interface Props {
	variant?: 'offset' | 'small';
}

const { variant } = Astro.props;
---

<div class="cmproject">
  <h3>Featured</h3>
  <ul class:list={['grid', { offset: variant === 'offset', small: variant === 'small' }]}>
    <slot></slot>
  </ul>
</div>


<style>

  h3 {
    padding-bottom: 16px
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
	.cmproject ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 0;
    padding: 0;
  }
</style>
